<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/allProducts.css">
    <%- include('./partials/head') %>
        <title>Document</title>
</head>

<%- include('./partials/header') %>

    <body>
        <section class="screenWidth" id="screenWidth">
            <div class="filter-navBar-425">
                <span class="mainTittle">
                    All Products
                </span>

                <p class="show-filter-sectionBtn" onclick="showModalFilter()">
                    Filter
                </p>
            </div>
            <hr>
            <section class="filter-modalWindow">
                <div class="range-filter-container">
                    <input type="range">
                </div>
                <div class="categories-filter-container">
                    <label for="categories">Choose a category:
                        <select name="categories" id="categories">
                            <option value="All">All Categories</option>
                            <option value="Burguers">Burguers</option>
                            <option value="Ice creams">Ice creams</option>
                            <option value="Coffes">Coffes</option>
                            <option value="Pizzas">Pizzas</option>
                            <option value="Noodles">Noodles</option>
                            <option value="Meal">Meal</option>
                            <option value="Alcohol">Alcohol</option>
                            <option value="Beers">Beers</option>
                            <option value="Restaurants">Restaurants</option>
                        </select>
                    </label>
                </div>
                <div class="searchByName-filter-container">
                    <label for="searchInput"> Search by name
                        <input name="searchInput" type="search">
                    </label>
                </div>
                <div class="discount-filter-container">
                    <label for="discountInput">Offers:
                        <input type="checkbox" name="discountInput" id="">
                    </label>
                </div>
            </section>
            <section class="hotSale-grid">
                <div class="grid-container">
                    <% products.forEach(product=> { %>
                        <article class="food-card">
                            <img src="/img/hero-image-foodFunnel.jpg" alt="">
                            <div class="product-image-container">
                                <a href="/products/productDetail/<%=product.id%>">
                                    <p>$<%= product.price%>
                                            <span>
                                                <% if (product.discount) {%>
                                                    -
                                                    <%=product.discount%>
                                                        %

                                                        <% } else { %>

                                                            <%} %>
                                            </span>
                                    </p>
                                    <span class="offer-info">
                                        <%= product.name%>
                                    </span>
                                    <br>
                                    <a href="#" class="restaurant-adress">
                                        <%= product.brand%>
                                            <%= product.location%>
                                    </a>
                                    <div class="btn-pay-object property-TNotSelect">
                                        <a href="/products/productDetail/3" class=".property-TNotSelect">
                                            Add now!
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <% }) %>

                </div>
            </section>
        </section>

    </body>
    <script src="/scripts/allProducts.js"></script>
    <%- include('./partials/footer') %>

</html>