<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#" type="image/x-icon">
        <link rel="stylesheet" href="/styles/index.css">

        <%- include('./partials/head') %>
                <title>food Funnel</title>
</head>
<%- include('./partials/header') %>

        <body>
                <section class="main-container">
                        <div class="slider-wrapper property-TNotSelect">
                                <div class="slider">
                                        <img id="hero-img1" src="/img/hero-image-foodFunnel.jpg" alt="">
                                        <img id="hero-img2" src="/img/hero-image-foodFunnel.jpg" alt="">
                                        <img id="hero-img3" src="/img/hero-image-foodFunnel.jpg" alt="">
                                        <img id="hero-img4" src="/img/offer-FoodFunnel.jpg" alt="">
                                </div>
                                <div class="slider-nav">
                                        <a href="#hero-img1"></a>
                                        <a href="#hero-img2"></a>
                                        <a href="#hero-img3"></a>
                                        <a href="#hero-img4"></a>
                                </div>
                        </div>
                </section>

                <section class="second-container">
                        <br>
                        <h3 class="hotSale-tittle property-TNotSelect">What are you looking for?
                                <i class="fa-solid fa-question help" id="questionMark1"
                                        class="expland-offerts-benefits"></i>
                        </h3>

                        <section class="flex-slider">
                                <div class="grid-item">
                                        <article class="category-item">
                                                <a href="/products/category/burguer">
                                                        <img src="/img/products/Hamburguesa.jpg" alt="">
                                                </a>
                                                <span>Burgers</span>
                                        </article>

                                        <article class="category-item">
                                                <a href="/products/category/ice-cream">
                                                        <img src="/img/products/helados.jpg" alt="">
                                                </a>
                                                <span>Ice cream</span>

                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/coffe">
                                                        <img src="/img/products/coffe.jpg" alt="">
                                                </a>
                                                <span>coffe</span>

                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/pizza">
                                                        <img src="/img/products/pizza.jpg" alt="">
                                                </a>
                                                <span>Pizza</span>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/noodles.jpg">
                                                        <img src="/img/products/noodles.jpg" alt="">
                                                </a>
                                                <span>noodles</span>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/meal">
                                                        <img src="/img/products/bife.jpg" alt="">
                                                </a>
                                                <span>Meal</span>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/alcohol">
                                                        <img src="/img/products/alcohol.jpg" alt="">
                                                </a>
                                                <span>alcohol</span>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/beers">
                                                        <img src="/img/products/beers.jpg" alt="">
                                                </a>
                                                <span>beers</span>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/restaurants">
                                                        <img src="/img/products/restaurant.jpg" alt="">
                                                </a>
                                                <span>restaurants</span>
                                        </article>
                                </div>
                                <hr>
                                <div class="allCategories">
                                        <a href="" class="allCategories-link">
                                                All Categories
                                        </a>
                                </div>
                        </section>
                        <section class="hotSale-carousel">
                                <h3 class="hotSale-tittle property-TNotSelect">Hot sale
                                        <i class="fa-solid fa-question help" id="questionMark2"
                                                class="expland-offerts-benefits"></i>
                                        <p class="see-all-offerts pointer">See more</p>
                                </h3>
                                <div class="btnsCards btnsCards-right">
                                        <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="btnsCards btnsCards-left">
                                        <i class="fa-solid fa-chevron-left"></i>
                                </div>
                                <div class="overflow-container">
                                        <% offerts.forEach(product=> { %>
                                                <article class="food-card pointer" id="foodCard">
                                                        <div class="offer-timing-container">
                                                                <i class="fa-solid fa-stopwatch"></i>
                                                                <dd>Ends in:</dd>
                                                                <div id="timer">
                                                                        <span id="hours">00</span>:<span
                                                                                id="minutes">00</span>:<span
                                                                                id="seconds">00</span>
                                                                </div>
                                                        </div>
                                                        <img src="/img/hero-image-foodFunnel.jpg" alt="">
                                                        <div class="product-image-container">
                                                                <a href="/products/productDetail/<%= product.id%>">
                                                                        <p>$<%= product.price%>
                                                                                        <span>
                                                                                                <% if (product.discount) {%>
                                                                                                        -<%=product.discount%>%

                                                                                                                <% } else
                                                                                                                        {
                                                                                                                        %>

                                                                                                                        <%}
                                                                                                                                %>
                                                                                        </span>
                                                                        </p>
                                                                        <span class="offer-info">
                                                                                <%= product.name%>
                                                                        </span><br>
                                                                        <a href="#" class="restaurant-adress">
                                                                                <%= product.brand%>
                                                                                        <%= product.location%>
                                                                        </a>
                                                                </a>
                                                                <div class="btn-pay-object property-TNotSelect">
                                                                        <a
                                                                                href="/products/productDetail/<%= product.id%>">Buy
                                                                                Now!</a>
                                                                </div>
                                                        </div>
                                                </article>
                                                <% }) %>
                                </div>
                        </section>


                        <% if(LastSeenProducts.length>0){ %>
                                <section class="hotSale-carousel">
                                <h3 class="hotSale-tittle property-TNotSelect">Last Seen:
                                        <i class="fa-solid fa-question help" id="questionMark2"
                                                class="expland-offerts-benefits"></i>
                                        <p class="see-all-offerts pointer">See more</p>
                                </h3>
                                <div class="btnsCards btnsCards-right">
                                        <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="btnsCards btnsCards-left">
                                        <i class="fa-solid fa-chevron-left"></i>
                                </div>
                                <div class="overflow-container">
                                                <% LastSeenProducts.forEach(product=> { %>
                                                        <article class="food-card pointer">
                                                                <div class="offer-timing-container">
                                                                        <i class="fa-solid fa-stopwatch"></i>
                                                                        <dd>Ends in:</dd>
                                                                        <div id="timer">
                                                                                <span id="hours">00</span>:<span
                                                                                        id="minutes">00</span>:<span
                                                                                        id="seconds">00</span>
                                                                        </div>
                                                                </div>
                                                                <img src="/img/hero-image-foodFunnel.jpg" alt="">
                                                                <div class="product-image-container">
                                                                        <a
                                                                                href="/products/productDetail/<%=product.id%>">
                                                                                <p>$<%= product.price%>
                                                                                                <span>
                                                                                                        <% if (product.discount)
                                                                                                                {%>
                                                                                                                -
                                                                                                                <%=product.discount%>
                                                                                                                        %

                                                                                                                        <% } else
                                                                                                                                {
                                                                                                                                %>

                                                                                                                                <%}
                                                                                                                                        %>
                                                                                                </span>
                                                                                </p>
                                                                                <span class="offer-info">
                                                                                        <%= product.name%>
                                                                                </span>
                                                                                <br>
                                                                                <div
                                                                                        class="btn-pay-object property-TNotSelect ">
                                                                                        <a
                                                                                                href="/products/productDetail/3">Add
                                                                                                now!</a>
                                                                                </div>
                                                                        </a>
                                                                </div>
                                                        </article>
                                                        <% }); %>
                                        </div>
                                </section>
                                <% } %>

                                        <section class="hotSale-carousel">
                                                <h3 class="hotSale-tittle property-TNotSelect">Most Popular :
                                                        <i class="fa-solid fa-question help" id="questionMark3"
                                                                class="expland-offerts-benefits"></i>
                                                        <a href="/products/all" class="see-all-offerts pointer">See
                                                                more</a>
                                                </h3>
                                                <div class="btnsCards btnsCards-right">
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                </div>
                                                <div class="btnsCards btnsCards-left">
                                                        <i class="fa-solid fa-chevron-left"></i>
                                                </div>
                                                <div class="overflow-container">
                                                        <% products.forEach(product=> { %>
                                                                <article class="food-card pointer">
                                                                        <div class="offer-timing-container">
                                                                                <i class="fa-solid fa-stopwatch"></i>
                                                                                <dd>Ends in:</dd>
                                                                                <div id="timer">
                                                                                        <span id="hours">00</span>:<span
                                                                                                id="minutes">00</span>:<span
                                                                                                id="seconds">00</span>
                                                                                </div>
                                                                        </div>
                                                                        <img src="/img/hero-image-foodFunnel.jpg"
                                                                                alt="">
                                                                        <div class="product-image-container">
                                                                                <a
                                                                                        href="/products/productDetail/<%=product.id%>">
                                                                                        <p>$<%= product.price%>
                                                                                                        <span>
                                                                                                                <% if (product.discount)
                                                                                                                        {%>
                                                                                                                        -
                                                                                                                        <%=product.discount%>
                                                                                                                                %

                                                                                                                                <% } else
                                                                                                                                        {
                                                                                                                                        %>

                                                                                                                                        <%}
                                                                                                                                                %>
                                                                                                        </span>
                                                                                        </p>
                                                                                        <span class="offer-info">
                                                                                                <%= product.name%>
                                                                                        </span>
                                                                                        <br>
                                                                                        <a href="#"
                                                                                                class="restaurant-adress">
                                                                                                <%= product.brand%>
                                                                                                        <%=
                                                                                                                product.location%>
                                                                                        </a>
                                                                                        <div
                                                                                                class="btn-pay-object property-TNotSelect ">
                                                                                                <a
                                                                                                        href="/products/productDetail/3">Add
                                                                                                        now!</a>
                                                                                        </div>
                                                                                </a>
                                                                        </div>
                                                                </article>
                                                                <% }) %>

                                                </div>
                                        </section>

                                        <section id="brands-prom" class="main__section-brands-prom property-TNotSelect">
                                                <h3 class="hotSale-tittle property-TNotSelect ">Restaurants :
                                                        <i class="fa-solid fa-question help" id="questionMark4"
                                                                class="expland-offerts-benefits"></i>
                                                </h3>

                                                <section class="main__section-brands-slider ">
                                                        <div class="div__brands-box">
                                                                <div class="div__logos-slide">
                                                                        <a href="/brands/BOSS" class="a__content-image">
                                                                                <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/DAddario"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Epiphone"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Gibson"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Marshall"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Yamaha"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Zildjian"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/BOSS" class="a__content-image">
                                                                                <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/DAddario"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Epiphone"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Gibson"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/banners/SliderBrands/gibson.svg"></a>
                                                                        <a href="/brands/Marshall"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Yamaha"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                        <a href="/brands/Zildjian"
                                                                                class="a__content-image"> <img
                                                                                        src="/img/products/dean-and-dennys.jpg"></a>
                                                                </div>
                                                        </div>
                                                </section>
                                                <div class="expand-offert-banner pointer" id="expand-offert-banner1">
                                                        <p>see more</p>
                                                </div>
                                        </section>

                                        <section class="hotSale-carousel">
                                                <a href="" class="restaurant-links">mc donnalds</a>
                                                <div class="btnsCards btnsCards-right">
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                </div>
                                                <div class="btnsCards btnsCards-left">
                                                        <i class="fa-solid fa-chevron-left"></i>
                                                </div>
                                                <div class="overflow-container">
                                                        <% mcDonaldsProducts.forEach(product=> { %>
                                                                <article class="food-card pointer">
                                                                        <img src="/img/hero-image-foodFunnel.jpg"
                                                                                alt="">
                                                                        <div class="product-image-container">
                                                                                <a
                                                                                        href="/products/productDetail/<%=product.id%>">
                                                                                        <p>$<%= product.price%>
                                                                                                        <span>
                                                                                                                <% if (product.discount)
                                                                                                                        {%>
                                                                                                                        -
                                                                                                                        <%=product.discount%>
                                                                                                                                %

                                                                                                                                <% } else
                                                                                                                                        {
                                                                                                                                        %>

                                                                                                                                        <%}
                                                                                                                                                %>
                                                                                                        </span>
                                                                                        </p>
                                                                                        <span class="offer-info">
                                                                                                <%= product.name%>
                                                                                        </span>
                                                                                        <a href="#"
                                                                                                class="restaurant-adress">
                                                                                                <%= product.brand%>
                                                                                                        <%=
                                                                                                                product.location%>
                                                                                        </a>
                                                                                        <div
                                                                                                class="btn-pay-object property-TNotSelect">
                                                                                                <a
                                                                                                        href="/products/productDetail/3">Add
                                                                                                        now!</a>
                                                                                        </div>
                                                                                </a>
                                                                        </div>
                                                                </article>
                                                                <% }) %>

                                                </div>
                                        </section>
                                        <a href="" class="restaurant-links">Tomasso</a>
                                        <section class="hotSale-carousel">
                                                <div class="btnsCards btnsCards-right">
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                </div>
                                                <div class="btnsCards btnsCards-left">
                                                        <i class="fa-solid fa-chevron-left"></i>
                                                </div>
                                                <div class="overflow-container">
                                                        <% tomassoProducts.forEach(product=> { %>
                                                                <article class="food-card pointer">
                                                                        <img src="/img/hero-image-foodFunnel.jpg"
                                                                                alt="">
                                                                        <div class="product-image-container">
                                                                                <a
                                                                                        href="/products/productDetail/<%=product.id%>">
                                                                                        <p>$<%= product.price%>
                                                                                                        <span>
                                                                                                                <% if (product.discount)
                                                                                                                        {%>
                                                                                                                        -
                                                                                                                        <%=product.discount%>
                                                                                                                                %

                                                                                                                                <% } else
                                                                                                                                        {
                                                                                                                                        %>

                                                                                                                                        <%}
                                                                                                                                                %>
                                                                                                        </span>
                                                                                        </p>
                                                                                        <span class="offer-info">
                                                                                                <%= product.name%>
                                                                                        </span>
                                                                                        <a href="#"
                                                                                                class="restaurant-adress">
                                                                                                <%= product.brand%>
                                                                                                        <%=
                                                                                                                product.location%>
                                                                                        </a>
                                                                                        <div
                                                                                                class="btn-pay-object property-TNotSelect">
                                                                                                <a
                                                                                                        href="/products/productDetail/3">Add
                                                                                                        now!</a>
                                                                                        </div>
                                                                                </a>
                                                                        </div>
                                                                </article>
                                                                <% }) %>

                                                </div>
                                        </section>
                                        <a href="" class="restaurant-links">Dean and Dennis</a>
                                        <section class="hotSale-carousel">
                                                <div class="btnsCards btnsCards-right">
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                </div>
                                                <div class="btnsCards btnsCards-left">
                                                        <i class="fa-solid fa-chevron-left"></i>
                                                </div>
                                                <div class="overflow-container">
                                                        <% deanAndDennisProducts.forEach(product=> { %>
                                                                <article class="food-card pointer">
                                                                        <img src="/img/hero-image-foodFunnel.jpg"
                                                                                alt="">
                                                                        <div class="product-image-container">
                                                                                <a
                                                                                        href="/products/productDetail/<%=product.id%>">
                                                                                        <p>$<%= product.price%>
                                                                                                        <span>
                                                                                                                <% if (product.discount)
                                                                                                                        {%>
                                                                                                                        -
                                                                                                                        <%=product.discount%>
                                                                                                                                %

                                                                                                                                <% } else
                                                                                                                                        {
                                                                                                                                        %>

                                                                                                                                        <%}
                                                                                                                                                %>
                                                                                                        </span>
                                                                                        </p>
                                                                                        <span class="offer-info">
                                                                                                <%= product.name%>
                                                                                        </span>
                                                                                        <a href="#"
                                                                                                class="restaurant-adress">
                                                                                                <%= product.brand%>
                                                                                                        <%=
                                                                                                                product.location%>
                                                                                        </a>
                                                                                        <div
                                                                                                class="btn-pay-object property-TNotSelect">
                                                                                                <a
                                                                                                        href="/products/productDetail/3">Add
                                                                                                        now!</a>
                                                                                        </div>
                                                                                </a>
                                                                        </div>
                                                                </article>
                                                                <% }) %>

                                                </div>
                                        </section>
                                        <a href="" class="restaurant-links">shawarmi</a>
                                        <section class="hotSale-carousel">
                                                <div class="btnsCards btnsCards-right">
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                </div>
                                                <div class="btnsCards btnsCards-left">
                                                        <i class="fa-solid fa-chevron-left"></i>
                                                </div>
                                                <div class="overflow-container">
                                                        <% shawarmiProducts.forEach(product=> { %>
                                                                <article class="food-card pointer">
                                                                        <img src="/img/hero-image-foodFunnel.jpg"
                                                                                alt="">
                                                                        <div class="product-image-container">
                                                                                <a
                                                                                        href="/products/productDetail/<%=product.id%>">
                                                                                        <p>$<%= product.price%>
                                                                                                        <span>
                                                                                                                <% if (product.discount)
                                                                                                                        {%>
                                                                                                                        -
                                                                                                                        <%=product.discount%>
                                                                                                                                %

                                                                                                                                <% } else
                                                                                                                                        {
                                                                                                                                        %>

                                                                                                                                        <%}
                                                                                                                                                %>
                                                                                                        </span>
                                                                                        </p>
                                                                                        <span class="offer-info">
                                                                                                <%= product.name%>
                                                                                        </span>
                                                                                        <a href="#"
                                                                                                class="restaurant-adress">
                                                                                                <%= product.brand%>
                                                                                                        <%=
                                                                                                                product.location%>
                                                                                        </a>
                                                                                        <div
                                                                                                class="btn-pay-object property-TNotSelect">
                                                                                                <a
                                                                                                        href="/products/productDetail/3">Add
                                                                                                        now!</a>
                                                                                        </div>
                                                                                </a>
                                                                        </div>
                                                                </article>
                                                                <% }) %>

                                                </div>
                                        </section>
                </section>
                  
                                <ul class="modalWindow" id="modalWindow">
                                        <div class="closeModal" id="closeModal">x</div>
                                        <li><i class="fa-solid fa-burger"></i></li>
                                        <li>This are all the categories whe have actually</li>
                                        <li>Here's where you would be able to filter the products by category. click in
                                                the one that you
                                                like the most and then select the product.</li>
                                </ul>

                                <ul class="offertModalWindow" id="offertModalWindow1">
                                        <div class="closeModal" id="closeModal">x</div>
                                        <li class="image-container-window-offert"><img src="/img/banner-food.jpg"
                                                        alt=""></li>
                                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, ipsa? Alias
                                                esse veniam, eum
                                                odit, eaque, nam itaque nemo provident quo cum cupiditate. Vero natus
                                                nihil odit,
                                                suscipit molestiae nesciunt?</li>
                                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
                                                laboriosam!</li>
                                </ul>
        </body>
        <%- include('./partials/footer') %>
                <script src="/scripts/index.js"></script>

</html>