<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#" type="image/x-icon">
        <link rel="stylesheet" href="/styles/index.css">

        <%- include('./partials/head') %>
                <title>food Funnel</title>
</head>
<%- include('./partials/header') %>

        <body>
                <section class="main-container">
                        <div class="slider-wrapper">
                                <div class="slider">
                                        <img id="hero-img1" src="/img/hero-image-foodFunnel.jpg" alt="">
                                        <img id="hero-img2" src="/img/hero-image-foodFunnel.jpg" alt="">
                                        <img id="hero-img3" src="/img/hero-image-foodFunnel.jpg" alt="">
                                        <img id="hero-img4" src="/img/offer-FoodFunnel.jpg" alt="">
                                </div>
                                <div class="slider-nav">
                                        <a href="#hero-img1"></a>
                                        <a href="#hero-img2"></a>
                                        <a href="#hero-img3"></a>
                                        <a href="#hero-img4"></a>

                                </div>
                        </div>
                </section>

                <section class="second-container">
                        <h3 class="hotSale-tittle">What are you looking for?
                                <i class="fa-solid fa-question" id="questionMark1" class="expland-offerts-benefits"></i>
                                <p class="see-all-offerts">See more</p>
                        </h3>
                        <hr>

                        <section class="flex-slider">
                                <div class="grid-item">
                                        <article class="category-item">
                                                <a href="/products/category/burguer">
                                                        <img src="/img/products/Hamburguesa.jpg" alt="">
                                                        <span>Burgers</span>
                                                </a>
                                        </article>

                                        <article class="category-item">
                                                <a href="/products/category/ice-cream">
                                                        <img src="/img/products/helados.jpg" alt="">
                                                        <span>Ice cream</span>
                                                </a>

                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/coffe">
                                                        <img src="/img/products/coffe.jpg" alt="">
                                                        <span>coffe</span>
                                                </a>

                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/pizza">
                                                        <img src="/img/products/pizza.jpg" alt="">
                                                        <span>Pizza</span>
                                                </a>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/noodles">
                                                        <img src="/img/products/noodles.jpg" alt="">
                                                        <span>noodles</span>
                                                </a>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/meal">
                                                        <img src="/img/products/Meal.jpg" alt="">
                                                        <span>Meal</span>
                                                </a>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/alcohol">
                                                        <img src="/img/products/alcohol.jpg" alt="">
                                                        <span>alcohol</span>
                                                </a>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/beers">
                                                        <img src="/img/products/beers.jpg" alt="">
                                                        <span>beers</span>
                                                </a>
                                        </article>
                                        <article class="category-item">
                                                <a href="/products/category/restaurants">
                                                        <img src="/img/products/restaurant.jpg" alt="">
                                                        <span>restaurants</span>
                                                </a>
                                        </article>
                                </div>
                        </section>
                        <h3 class="hotSale-tittle">Hot sale
                                <i class="fa-solid fa-question" id="questionMark2" class="expland-offerts-benefits"></i>
                                <p class="see-all-offerts">See more</p>
                        </h3>
                        <hr>
                        <section class="hotSale-carousel">
                                <div class="overflow-container">

                                        <% products.forEach(product=> { %>
                                                <article class="food-card">
                                                        <div class="offer-timing-container">
                                                                <i class="fa-solid fa-stopwatch"></i>
                                                                <span>Ends in: 16.09:35</span>
                                                        </div>
                                                        <img src="/img/hero-image-foodFunnel.jpg" alt="">
                                                        <div class="product-image-container">
                                                                <a
                                                                        href="/products/productDetail/<%= product.id%>">
                                                                        <p>$<%= product.price%> <span>
                                                                                                <%=product.price%>
                                                                                        </span>
                                                                                        <%= product.discount%>
                                                                        </p>
                                                                        <span class="offer-info">
                                                                                <%= product.name%>
                                                                        </span><br>
                                                                        <a href="#" class="restaurant-adress">
                                                                                <%= product.brand%>
                                                                                        <%= product.location%>
                                                                        </a>
                                                                </a>
                                                                <div class="btn-pay-object">
                                                                        <a href="#">Buy Now!</a>
                                                                </div>
                                                        </div>
                                                </article>
                                                <% }) %>
                                </div>
                        </section>
                        <h3 class="hotSale-tittle">Most Popular :
                                <i class="fa-solid fa-question" id="questionMark3" class="expland-offerts-benefits"></i>
                                <p class="see-all-offerts">See more</p>
                        </h3>
                        <hr>

                        <section class="hotSale-carousel">
                                <div class="overflow-container">
                                        <% products.forEach(product=> { %>
                                                <article class="food-card">
                                                        <img src="/img/hero-image-foodFunnel.jpg" alt="">
                                                        <div class="product-image-container">
                                                                <a href="/products/productDetail/<%=product.id%>">
                                                                        <p>$<%= product.price%> <span>
                                                                                                <%= product.discount%>%
                                                                                        </span></p>
                                                                        <span class="offer-info">
                                                                                <%= product.name%>
                                                                        </span>
                                                                        <br>
                                                                        <a href="#" class="restaurant-adress">
                                                                                <%= product.brand%>
                                                                                        <%= product.location%>
                                                                        </a>
                                                                </a>
                                                        </div>
                                                </article>
                                                <% }) %>

                                </div>
                        </section>


                        <section class="promotion">
                                <img src="/img/banner-food.jpg" alt="">
                                <div class="expand-offert-banner" id="expand-offert-banner1">
                                        <p>see more</p>
                                </div>
                        </section>

                        <h3 class="hotSale-tittle">Restaurants :
                                <i class="fa-solid fa-question" id="questionMark4" class="expland-offerts-benefits"></i>
                                <p class="see-all-offerts">See more</p>
                        </h3>
                        <hr>

                        <section class="hotSale-carousel">
                                <div class="overflow-container">
                                        <% products.forEach(product=> { %>
                                                <article class="food-card">
                                                        <img src="/img/hero-image-foodFunnel.jpg" alt="">
                                                        <div class="product-image-container">
                                                                <a href="/products/productDetail/<%=product.id%>">
                                                                        <p>$<%= product.price%>
                                                                                        <span>
                                                                                                <%=product.discount%>
                                                                                                        %
                                                                                        </span>
                                                                        </p>
                                                                        <span class="offer-info">
                                                                                <%= product.name%>
                                                                        </span>
                                                                        <a href="#" class="restaurant-adress">
                                                                                <%= product.brand%>
                                                                                        <%= product.location%>
                                                                        </a>
                                                                </a>
                                                        </div>
                                                </article>
                                                <% }) %>

                                </div>
                        </section>


                </section>
                <ul class="modalWindow" id="modalWindow">
                        <div class="closeModal" id="closeModal">x</div>
                        <li><i class="fa-light fa-percent"></i></li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, ipsa? Alias esse veniam, eum
                                odit, eaque, nam itaque nemo provident quo cum cupiditate. Vero natus nihil odit,
                                suscipit molestiae nesciunt?</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, laboriosam!</li>
                </ul>

                <ul class="offertModalWindow" id="offertModalWindow1">
                        <div class="closeModal" id="closeModal">x</div>
                        <li class="image-container-window-offert"><img src="/img/banner-food.jpg" alt=""></li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, ipsa? Alias esse veniam, eum
                                odit, eaque, nam itaque nemo provident quo cum cupiditate. Vero natus nihil odit,
                                suscipit molestiae nesciunt?</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, laboriosam!</li>
                </ul>
        </body>
        <%- include('./partials/footer') %>
                <script src="/scripts/index.js"></script>

</html>