<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <%- include('./partials/head') %>
        <title>Product Detail</title>
        <script  type="module">
            import { io } from 'http://cdn.socket.io/4.3.2/socket.io.esm.min.js';

            const socket = io();

            console.log(socket);
            const form = document.getElementById('form');
            const input = document.getElementById('input');
            const messagesUl = document.getElementById('messages');

            socket.on('chat message', (msg) => {
                const item = `<li>${msg}</li>`;
                messagesUl.insertAdjacentHTML('beforeend', item)
            });

            form.addEventListener('submit', (e) => {
                e.preventDefault()

                if (input.value) {
                    socket.emit('chat message', input.value)
                    input.value = ''
                }
            });
        </script>
</head>
<%- include('./partials/header') %>

    <body>
        <article class="single-card">
            <div class="goBack-container">
                <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="image-container">
                <img src="/img/hero-image-foodFunnel.jpg" alt="">
            </div>
            <ul class="text">
                <div class="admin-section">

                    <li>
                        <i class="fa-solid fa-percent"></i>
                        <p>
                            <%= products.discount %> % OFF
                        </p>
                    </li>
                    <li>
                        <i class="fa-solid fa-stopwatch"></i>
                        <p>04:42:02</p>
                    </li>
                </div>

                <div class="product-offert-container">
                    <li class="edit-product">
                        <a href="/edit/<%=products.id%>">Edit</a>
                    </li>
                    <li class="delete-product">
                        <a href="/delete/<%=products.id%>">Delete</a>
                    </li>
                </div>
                <div class="productDescription">
                    <li>
                        <%= products.name %>
                    </li>
                    <li>
                        <%= products.description %>
                    </li>
                    <li><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i>
                        <span>0/5</span>
                    </li>

                    <li>
                        <%= products.brand.brand_name %>
                    </li>
                    <li>
                        <%= products.state.location %>
                    </li>
                    <li class="addTo-order">
                        <i class="fa-solid fa-cart-plus"></i>
                        <p>Add To Order</p>
                    </li>
                </div>
            </ul>
        </article>
        <section id="chat">
            <ul id="messages"></ul>
            <form id="form">
                <input type="text" name="message" id="input" placeholder="Type a message" autocomplete="off">
                <button type="submit">Submit</button>
            </form>
        </section>
        <section class="total-container">
            <span class="total">Total
                <span>$<%= products.price %>
                        <span> $<%= products.price %></span>
                </span>
            </span>


            <div class="payment-container pointer">
                <i class="fa-solid fa-bag-shopping"></i>
                <p>Buy it now</p>
            </div>
        </section>
    </body>

</html>