<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <%- include('./partials/head') %>
        <title>Document</title>
</head>
<%- include('./partials/header') %>

    <body>
        <article class="single-card">
            <div class="goBack-container">
                <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="image-container">
                <img src="/img/hero-image-foodFunnel.jpg" alt="">
            </div>
            <ul class="text">
                <div class="admin-section">
                    
                    <li>
                        <i class="fa-solid fa-percent"></i>
                        <p>
                            <%= products.discount %> % OFF
                        </p>
                    </li>
                    <li>
                        <i class="fa-solid fa-stopwatch"></i>
                        <p>04:42:02</p>
                    </li>
                </div>

                    <div class="product-offert-container">
                        <li class="edit-product">
                            <a href="/edit/<%=products.id%>">Edit</a>
                        </li>
                        <li class="delete-product">
                            <a href="/delete/<%=products.id%>">Delete</a>
                        </li>
                    </div>
                <div class="productDescription">
                    <li>
                        <%= products.name %>
                    </li>
                    <li>
                        <%= products.description %>
                    </li>
                    <li><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i>
                        <span>0/5</span>
                    </li>
                    
                    <li>
                        <%= products.brand.brand_name %>
                    </li>
                    <li>
                        <%= products.state.location %>
                    </li>
                    <li class="addTo-order">
                        <i class="fa-solid fa-cart-plus"></i>
                        <p>Add To Order</p>
                    </li>
                </div>
            </ul>
        </article>
        <section class="total-container">
            <span class="total">Total
                <span>$<%= products.price %>
                        <span> $<%= products.price %></span>
                </span>
            </span>

            <div class="payment-container">
                <i class="fa-solid fa-bag-shopping"></i>
                <p>Buy it now</p>
            </div>
        </section>
    </body>

</html>